
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dear <%= @venue.owner.first_name %>,</h2>
    <p>
      Someone just booked an event at <%= @venue.name %>!<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= .
    </p>
    <p>Have a great day!</p>
  </body>
</html>